<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="router.server.mapper.FrameworkMapper">

    <!--创建表的 SQL 语句-->
    <update id="initTable">
        CREATE TABLE IF NOT EXISTS `framework`
        (
            `id` INTEGER PRIMARY KEY AUTOINCREMENT,
            `projectId`  INT   NOT NULL,
            `type` TEXT NOT NULL,
            `contextPath` TEXT NOT NULL,
            `version` TEXT
        );
    </update>

    <insert id="insertFramework" useGeneratedKeys="true" keyProperty="id" parameterType="router.server.entity.FrameworkEntity">
        INSERT INTO framework (id, projectId, type, contextPath, version)
        VALUES (#{id}, #{projectId}, #{type}, #{contextPath}, #{version})
    </insert>

    <select id="selectTypeByProjectId" resultType="java.lang.String">
        select DISTINCT type from framework where projectId = #{projectId}
    </select>

    <select id="selectByProjectIdAndType" resultType="router.server.entity.FrameworkEntity">
        select * from framework where projectId=#{projectId} and type = #{type}
    </select>
    <select id="selectByProjectId" resultType="router.server.entity.FrameworkEntity">
        select * from framework where projectId=#{projectId}
    </select>

</mapper>